.navbar {
    display: flex;
    position: relative;
    top: 0;
    flex-direction: row;
    width: 100%;
    background-color: darkblue;
    align-items: center;
    color: aliceblue;
    font-size: 1.5em;
    font-weight: bold;
    transition: top 0.5s;
    height: fit-content;
  }
  
  .hide {
    top: -3em;
  }
  
  .navitem {
    position: relative;
    padding: 1em;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
    white-space: nowrap;
  }
  
  .clickable {
    @extend .navitem;
    cursor: pointer;
  }
  
  .clickable:hover {
    backdrop-filter: brightness(50%);
  }
  
  .dropdown_container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    position: absolute;
    top: 100%;
    right: 0;
  }
  
  .dropdown:hover {
    cursor: pointer;
    backdrop-filter: brightness(50%);
  
    .dropdown_container {
      visibility: visible;
    }
  }
  
  .end {
    margin-left: auto;
  }
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* This will center it vertically */
}

.search-input {
    width: 60%; /* Makes the search bar wide */
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-right: 10px; /* Spacing between search bar and button */
}

.search-button {
    padding: 15px;
    font-size: 1.2rem;
    background-color: #004aad; /* Blue color for the button */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #003a7a; /* Darker blue on hover */
}
